node_modules/
dist/
.vscode
logs

# Ignore all environment files
.env*

# But keep the example
!.env.example

temp
errors
api

# constants
/client/src/constants/errorType.constants.js
/client/src/constants/httpStatus.constants.js
/client/src/constants/apiRoutes.constants.js

# context & hook
/client/src/context/AuthContext.jsx
client/src/hook/useAuthContext.js

/client/src/context/ProjectContext.jsx
client/src/hook/useProjectContext.js

#component 

#loading
client/src/components/builder/BuilderLoading.jsx