node_modules/
dist/
.vscode
logs

# Ignore all environment files
.env*

# But keep the example
!.env.example

temp
errors
api
utils

/client/src/constants/errorType.constants.js
/client/src/constants/httpStatus.constants.js
/client/src/constants/apiRoutes.constants.js
